# Nuxt
.nuxt
.output
.data
.env
.cache
dist

# Dependencies
node_modules

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Testing
coverage
*.lcov
playwright-report
test-results
tests/e2e/.auth/user.json

# Temporary files
*.tmp
*.temp
