[build]
builder = "DOCKERFILE"
dockerfilePath = "/worker/Dockerfile" # Weird but necessary for Railway

[deploy]
startCommand = "node dist/index.js"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
